.wishlist-container {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 80px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.sky-card {

    width: 300px;
    height: 200px;
    top: 60px;

    margin: 20px;

    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a transition effect when hovering over the card */
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* Form and colour */
.sky-card {
    background-color: #87CEFA;
    background-image: linear-gradient(180deg, #87CEFA, #c6e8e8, #cff6f6 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Add a stronger box shadow when hovering over the card */
.sky-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Style for the wishlist item name and "Add Item" button */
.wishlistname {
    /* Align items vertically */
    display: flex;
    align-items: center;
    /* Create some space between the name and button */
    justify-content: space-between;
    /* Add padding to the top and bottom */
    padding: 10px;

}

.wishlistname {
    font-size: 24px;
    font-weight: bold;
    margin-top: -55px;
}


.wishlist-description {
    margin-top: 6px;
    text-align: center;
    top: 76px;
    margin-bottom: 2px;
}

.wishlist-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3d3d3d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


footer .footer-box {
    border: 3px solid #87CEFA;
    padding: 20px;
    border-radius: 8px;
    background: floralwhite linear-gradient(to bottom, #87CEFA, #87CEFA);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}






