<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Your Wishlist</title>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/createWishList.css">
    <script src="https://kit.fontawesome.com/d17da6709b.js"></script>
</head>
<body>
<div id="menuHeader">
    Wishlist
</div>

<a href="homePage" style="margin-top: 40px; color: #a174d7;" id="home-button">Home</a>
<a href="discoveryPage" style=" color: #a174d7;" id="discovery-button">Discovery</a>
<div id="search-input">
    <form action="/viewWishlistFromSearchbar" method="GET">
        <label>
            <input type="text" placeholder="   Search on your friends wishlists.." name="wishlistId" required>
        </label>
        <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<nav>
    <ul>
    </ul>
</nav>
<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #a86cd0;"></i>
    </a>
</div>

<div class="photo">
</div>

<h1 class="page-title">Create Your Wishlist</h1>
<form class="wishlist-form" action="/makeList" method="post">
    <div class="wishlist-box">
        <label class="wishlist-label">Enter wishlist name:</label>
        <label>
            <input class="wishlist-input" type="text" name="wishlistName">
        </label>

        <label class="wishlist-label">Enter wishlist description:</label>
        <label>
            <input class="wishlist-input" type="text" name="wishlistDescription">
        </label>

        <h2>Add items to your wishlist:</h2>
        <div id="items-container">
            <div class="item-row">
                <label>
                    <input class="wishlist-input" type="text" name="itemName[]" placeholder="Item Name">
                </label>
                <label>
                    <input class="wishlist-input" type="text" name="itemDescription[]" placeholder="Item Description">
                </label>
            </div>
            <div class="item-row">
                <label>
                    <input class="wishlist-input" type="text" name="itemName[]" placeholder="Item Name">
                </label>
                <label>
                    <input class="wishlist-input" type="text" name="itemDescription[]" placeholder="Item Description">
                </label>
            </div>
            <!-- Add more item rows as needed -->
        </div>
        <input type="submit" value="Save Wishlist">
    </div>
</form>

</body>
</html>
